@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* colors */
    --color-black: #333333;
    --color-white: #ffffff;
    --color-gray: #696969;
    --color-lightGray: #eaeaea;
    --color-blue: #6fa9ff;
    --color-red: #ff7c7c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}

body {
    background: var(--color-lightGray);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    background: var(--color-white);
    padding: 40px 30px 50px;
    border-radius: 5px;
    position: relative;
}

.container h1 {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.container h1 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.container .input_box {
    width: 80%;
    height: 40px;
    padding: 8px;
    box-shadow: 10px 10px 70px -1px rgba(0, 0, 0, 0.05) inset;
}

.container .plusBtn {
    width: 70px;
    height: 40px;
    margin-left: 10px;
    border-radius: 8px;
    color: var(--color-white);
    font-weight: bold;
    background: var(--color-blue);
    cursor: pointer;
}

.container .list_inner {
    margin: 20px 10px;
    font-size: 13px;
    color: var(--color-gray);
}

.container .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-lightGray);
}

.container .deleteBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.resetBtn {
    position: absolute;
    bottom: 20px;
    right: 40px;
    border-radius: 8px;
    color: var(--color-red);
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}